
.item-page {
    display: grid;
    grid-template-rows: 1fr 1fr 12fr;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.top-bar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 2px solid white;
    border-radius: 5px;
}

.main-view {
    display: grid;
    grid-template-columns: 4fr 5fr;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 8px;
}

.page-name {
    position: relative;
    z-index: 10;
    border: 2px solid white;
    padding-top: 8px;
    padding-left: 16px;
}

.description-bar {
    border: 2px solid white;
}

.character-screen {
    border: 2px solid white;
}

.item-list {
    border: 2px solid white;
}

.item-list-item {
    display: flex;
}

.item-list-item.selectable {
    cursor: pointer;
}

.item-list-item.unselectable {
    color: grey;
}

.item-list-item > :first-child {
    flex-grow: 1;
}

.item-list-item > :last-child {
    min-width: 20px;
    text-align: right;
}

.description-bar {
    padding-top: 8px;
    padding-left: 8px;
}

.arrange-menu {
    position: absolute;
    top: 50;
    left: 50%;
    border: 2px solid white;
    width: 200px;
    background-color: darkblue;
}

.arrange-menu > ul {
    margin-left: 8px;
}